body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  overflow: auto;
}

main {
  flex: 1 0 auto;
}

.logo-small{
  width: 150px;
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
    /*.logo-small{ width: 90px; }*/
    .logo-small{width: 130px;}
}

a.logo{
  height: 1px;
}

.fa-sign-out-alt{
  font-size: 17px;
}

.btn-close-modal{
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-submit{
  margin-top: 30px;
}

.tittle{
  padding-top: 10px;
}

.users{
  height: 242px;
  overflow: scroll;
}

@media only screen and (max-width: 1200px) {
    .users{height: 237px;}
}

@media only screen and (max-width: 992px) {
    .users{height: inherit;}
}

.user-text{
  padding: 2px;
  font-size: 17px;
}

.btn-delete{
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.btn-delete i{
  font-size: 20px;
  line-height: 32px;
}

.text-footer{
  font-size: 18px;
}
