body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  overflow: auto;
}

main {
  flex: 1 0 auto;
}

.logo-small{
  width: 140px;
  margin-top: -7px;
}

@media only screen and (max-width: 600px) {
  /*.logo-small{ width: 90px; }*/
  .logo-small{width: 125px;}
}

a.logo{
  height: 1px;
}

.fa-sign-out-alt{
  margin-top: 22px;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
    /*.logo-small{ width: 90px; }*/
    .fa-sign-out-alt{margin-top: 20px;}
}

.btn-close-modal{
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-submit{
  margin-top: 30px;
}

.message-blue{
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 20px;

  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.close {
  float: right;
  color: #000;
  opacity: .5;
}

.close-icon:hover {
  font-weight: bold;
}

.tittle{
  padding-top: 10px;
}

.card-panel{
  margin-bottom: 45px;
}

.users{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 222px;
  overflow: auto;
}

@media only screen and (max-width: 1200px) {
    .users{height: 217px;}
}

@media only screen and (max-width: 992px) {
    .users{height: inherit;}
}

.users-grid{
  display: inline-grid;
}

.height-45{
  height: 45px;
}

.user-text{
  margin-right: 0px;
  text-align: center;
  font-size: 17px;
}

.btn-delete{
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.btn-delete i{
  font-size: 20px;
  line-height: 32px;
}

.text-footer{
  font-size: 18px;
}
