.logo-small{
  width: 150px;
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
    /*.logo-small{ width: 90px; }*/
    .logo-small{width: 130px;}
}

a.logo{
  height: 1px;
}

.container-book-img{
  width: 99px;
}

.book-icon{
  max-width: 80px;
}

.book-status{
  font-size: 16px;
  margin-top: 6px;
}

.card-panel {
    padding: 10px;
    border-radius: 30px;
}

.row .col .book{
  margin-left: 3%;
}

.disponible{
  color: #009688;
}

.nodisponible{
  color: #b71c1c;
  filter: grayscale(100%);
}
