body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tittle-modal{
  margin-left: 10px;
}

.btnModal{
  margin-left: 40px;
}

.logo-small{
  width: 150px;
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
    /*.logo-small{ width: 90px; }*/
    .logo-small{width: 130px;}
}

a.logo{
  height: 1px;
}

.tittle{
  padding: 20px;
}

.container-magacine-img{
  width: 99px;
}

.magacine-icon{
  max-width: 80px;
}

.magacine-status{
  font-size: 16px;
  margin-top: 6px;
}

.card-panel {
    padding: 10px;
    border-radius: 30px;
}

.row .col .magacine{
  margin-left: 3%;
}

.disponible{
  color: #009688;
}

.nodisponible{
  color: #b71c1c;
  filter: grayscale(100%);
}
